img {
    position: relative;
    height: 144px;
    width: 215px;
    float: left;
    margin: 13px;
}


.projects-container {
    position: relative;
    text-align: center;
}

.slider-container {
    margin: auto;
}

.stackComponent {
    margin: auto;
    /* float: left; */
}

