.container-about {
    width: 65%;
    position: relative;
    text-align: center
}

.about {
    position: relative;
    top: 75px;
}

.aboutText {

}

.opacity-background {
    background-color: grey;
    opacity: .5;

}

.portrait {
    position: relative;
    float: left;
    border-radius: 50px;
}

.selfie {
    position: relative;
    float: left;
    margin: 30px;
    margin-right: 80px;
    margin-bottom: 80px;
    height:300px;
    width:300px;
    top: 25px;
}

.testomonial {
    position: relative;
    margin: 30px;
    text-align: left;
}

.testomonial { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
