.container {
    width: 65%;
    position: relative;
    text-align: center
}

.about {
    position: relative;
    top: 100px;
}
.portrait {
    position: relative;
    float: left;
}

.selfie {
    position: relative;
    float: left;
    margin: 30px;
    height:200px;
    width:200px;
}

.testomonial {
    position: relative;
    top: 30px;
    margin: 30px;
}

.testomonial { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
