.container-tech {
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: auto;
    width: 75%;
    height: 100px;
    /* padding: 10px; */
    background-color: #d9d9d9;
    top: 530px;
}

.techRow {
    position: absolute;
    text-align: center;
    margin: auto;
    height: 100%;
    padding: 5px;
}

.techBox {
    /* position: absolute; */
    border-radius: 10px;
    margin: auto;
    height: 80%;
    width: 6%;
    margin-right: 7px;
    margin-left: 7px;
    /* background-color: green; */
}

.three {
    margin: auto;
    left:510px;
    width: 80px;
}

.bamazon {
    width: 40px;
}
