.container-tech {
    position:absolute;
    text-align: center;
    margin: auto;
    bottom: 70px;
    outline: solid;
    width: 85%;
    height: 100px;
    padding: 10px;
    left: 100px;
}

.techRow {
    text-align: left;
    margin: auto;
    outline: dotted;
    height: 100%;
    padding: 5px;
}

.techBox {
    /* position: absolute; */
    margin: auto;
    float: left;
    height: 100%;
    width:6%;
    margin-right: 7px;
    margin-left: 7px;
    background-color: green;
}