.card {
    float: left;
    margin: 50px;
    width:240px;
    height: 450px;
    text-align: center;
}

.card-text-container {
    
}

.card-text {

}
.card-img-top {
    display: inline-block;
    width: 85%;
}

.card-body {
    text-align: left;
}

.card-title {
    text-align: center;
}

.button-case {
    position: relative;
    float: left;
    margin: 10px;
    
}

#site {
    float: left;
}

#code {
    float: right;
}